<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/한믿음.css">
    <title>우리학원</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="img/logo.png" alt="로고">
        </div>
        <nav class="menu">
            <ul class="navi">
                <li><a href="">교육원소개</a></li>
                <li><a href="">모집과정</a></li>
                <li><a href="">입학신청</a></li>
                <li><a href="">커뮤니티</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <article class="doorimg">
            <a href="#">
                <img src="img/door.jpg">
                <span class="doortext">3년 우수훈련기간 선정</span>
            </a>
        </article>
        <article class="midtext">
            <ul class="tabmanu">
                <li><a href="#" id = "as">공지사항</a>
                    <div class="notice">
                        <ul>
                            <li><a href="#">3년 우수훈련기관 선정<span>2021.08.11</span></a></li>
                            <li><a href="#">취업률 우수 및 이수자 평가 A<span>2021.07.17</span></a></li>
                            <li><a href="#">4차 산업혁명 인재양성과정 모집<span>2021.06.25</span></a></li>
                            <li><a href="#">2020년 직업능력개발 유공 포상<span>2020.03.21</span></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="tabgo">
                <li><a href="#"id="as">갤러리</a>
                    <div class="gallery">
                        <ul>
                            <li><a href="#"><img src="img/그림1.png"></a></li>
                            <li><a href="#"><img src="img/그림2.png"></a></li>
                            <li><a href="#"><img src="img/그림3.png"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="shortcut">
                <a href=""><img src="img/바로가기.jpg"><span class="goto">바로가기</span></a>
            </div>
        </article>
    </section>
    <footer>
        <div class="copy">
            COPYRIGHT ⓒ by WEBDESIGN. ALL RIGHTS RESERVED
        </div>
        <div class="downmanu">
            <ul>
                <li><a href="#">하단메뉴1</a></li>
                <li><a href="#">하단메뉴 2</a></li>
                <li><a href="#">하단메뉴 3</a></li>
            </ul>
        </div>
        <div class="faml">
            <select>
                <option value="fa1">패밀리사이트1</option>
                <option value="fa2">패밀리사이트2</option>
                <option value="fa3">패밀리사이트3</option>
            </select>
        </div>
    </footer>
</body>
</html>