@charset "UTF-8";
* {
	margin:0;
	padding:0;
    list-style:none;
}
a {
    text-decoration: none;
    display: block;
    color: black;
}
.menu {
    width: 100%;
    height: 120px;
    background-color: white;
}
.nav {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.nav_log {
    float: right;
    padding: 10px;
}
.nav_log li {
    float: left;
    margin-right: 30px;
    font-size: 15px;
    display: block;
}
.nav_log li a {
    color: black;
}
.nav img {
    margin: 50px auto 50px;
    opacity: 0.8;
}
.navi {
    position: absolute;
    right: 10%;
    top: 50%;

}
.navi li {
    float: left;
    display: block;
    padding-right: 100px;
    font-size: 20px;
    color: black;
}
.navi li a {
    color: black;
}
.submenu {
    width: 100%;
    height: 70px;
    display: none;
    position: absolute;
}
.submenu li {
    float: left;
    padding: 10px 14px 10px 0;
    margin-left: 10px;
    text-align: center;
}
.submenu>li>a{
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
.dk ul{
    position: absolute;
    left: 5%;
}
.gall ul{
    position: absolute;
    left: 10%;
}
.ad ul{
    position: absolute;
    left: 27%;
}
.on ul{
    position: absolute;
    left: 57%;
}
.end ul{
    position: absolute;
    left: 70%;
}
.viewer {
    width: 70%;
    height: 500px;
    margin: 0 auto;
}
.imgslide {
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.imgslide>ul{ 
    width: 6665px;
    height: 500px;
    font-size: 0; 
} 
.imgslide>ul>li{
    display: inline-block; 
}
.imgslide img {
    width: 1333px;
    height: 500px;
}
.mid {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0 auto;
}
.tiroad {
    margin: 0 auto;
    width: 70%;
    height: 30px;
    padding: 5px;
}
.tiroad ul {
    float: right;
}
.tiroad li {
    float: left;
}
.ticket a{
    font-size: 16px;
    font-weight: 500;
    color: red;
    padding-right: 10px;
}
.time_box {
    width: 17%;
    height: 280px;
    margin-top: 5px;
    margin-right: 15%;
    border: 1px solid;
    float: right;
}
.time_box h2 {
    margin: 15px 10px 20px;
    text-align: center;
}
.open_close li{
    text-align: center;
    font-size: 25px;
}
.open_close span {
    font-size: 10px;
    text-align: left;
}
.notice {
    float: left;
    margin-top: 5px;
    margin-left: 15%;
    border: 1px solid;
    height: 280px;
    width: 27%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
.notice>li>a{
    font-size: 30px;
    display: block;
    padding: 20px;
}
.board li a{
    padding: 7px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board li span {
    float: right;
}
.exhibition {
    float: left;
    width: 24%;
    height: 280px;
    margin-top: 5px;
    margin-left: 20px;
}
.ban img {
    width: 90%;
    display: inline;
}
.ban>li {
    position: relative;
    width: 46%;
    line-height: 0;
    float: left;
    padding: 7px;
    text-align: center;
}
.ban li img:hover{
    opacity: 0.3;
}
li .ban_tit {
    position: absolute;
    line-height: 160%;
    font-size: 20px;
    font-weight: 600;
    left: 10%;
}
li.ban02 .ban_tit{
    color: blue;
}
.ban03 .ban_tit{
    color: blue;
}
.ban04 .ban_tit{
    color: white;
}
.shortcut {
    width: 70%;
    height: 100px;
    position: relative;
    margin: 10px auto;
}
.shortcut ul {
    text-align: center;
    width: 100%;
}
.shortcut ul li {
    float: left;
    width: 110px;
    align-items: center;
    margin: 0 2% 0;
}
.shortcut li a samp {
    display: block;
    text-align: center;
    color: black;
    font-size: 12px;
}
footer {
    clear: both;
    border-top: solid 1px #eaeaea;
    position: relative;
    width: 100%;
    height: 100px;
}
.foot {
    width: 70%;
    height: 100px;
    margin: 0 auto;
}
.ft {
    float: left;
    margin: 30px 0 30px;
}
.hidden {
    display: none;
}
.sub {
    margin: 30px 0 30px;
    float: right;
}
.ft_sns {
    padding-right: 10px;
    position: absolute;
    right: 30%;
}
.sub div{
    float: left;
}
.clearfix li{
    float: left;
    padding: 5px;
}
.fm_site {       
    position: absolute;
    right: 20%;
    float: right;
    text-align: right;
    display: block;
    padding-top: 10px;
}
#fm_site{
    padding: 5px 4% 5px;
    width: 75%;
    font-size: 12px;
    display: inline-block;
}
.fm_site a {
    display: inline;
}
.btn_go {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: #112e22;
    color: #fff;
    font-size: 12px;
    width: 20%;
    padding: 3px 10px 4px;
    font-weight: 600;
}