* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: black;
}
body {
    width: 1200px;
    font-size: 16px;   
}
a {
    text-decoration: none;
    display: block;
}
header {
    height: 100px;
    width: 1200px;
    position: relative;
    background-color:rgb(75, 49, 19);
}
.logo {
    float: left;
    height: 100px;
    width: 250px;
}
.logo img {
    float: left;
    height: 80px;
    width: 200px;
    margin-top: 10px;
    margin-left: 25px;
}
.menu {
    float: right;
    height: 40px;
    width: 800px;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 5;
}
.navi > li {
    float: left;
    width: 200px;
    height: 40px;
    background-color: rgb(43, 87, 22);
}
.navi>li>a {
    color: white;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
.navi>li>a:hover {
    background-color: rgb(216, 74, 49);
}

/* 상단 탭 다운 */
.submenu {
    display: none;
}
.submenu li {
    height: 35px;
    width: 200px;
    background-color: rgba(255,255,255,0.8);
}
.submenu>li>a{
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
.submenu>li:hover{
    background-color: rgb(216, 74, 49);
}

section {
    width: 1200px;
    height: 650px;
}
.imgslide {
    height: 450px;
    width: 1200px;
    position: relative;
    overflow: hidden;
}
.imgslide>a {
    display: block;
    position: absolute;
    left:  0;
    top: 0;
    overflow: hidden;
}
.imgtext {
    height: 40px;
    width: 400px;
    position: absolute;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    background-color: rgba(40, 40, 40, 0.5);
    left: 30%;
    top: 85%;
}
.contents {
    height: 200px;
    width: 1200px;
    position: absolute;
}
.tabmenu {
    float: left;
    height: 180px;
    width: 395;
    margin-top: 10px;
    margin-bottom: 10px;
}
.tabmenu>li {
    float: left;
    width: 100px;
    line-height: 30px;
}
.tabmenu>li>a {
    display: block;
    text-align: center;
    background-color: #ccc;
    border: 1px solid #ddd;
    border-bottom: none;
}
.tabmenu>li>a:hover {
    background-color: #eee;
}
.tabmenu>li.active>a{
    background-color: white;
    border-right: none;
}
.tabmenu>li>div {
    position: absolute;
    left: 0;
    height: 0;
    overflow: hidden;
    top: 40px;
}
.tabmenu>li.active div {
    width: 393px;
    height: 148px;
    border: 1px solid #ddd;
}
.notice ul {
    float: left;
    width: 393px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.notice li{
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 3px;
    padding-right: 3px  ;
}
.notice li:nth-child(2n) {
    background-color: #ccc;
}
.notice li span {
    float: right;
}
.notice li:hover {
    font-weight: bold;
}
.galiery li {
    float: left;
    margin-top: 15px;
    margin-left: 5px;
}
.galiery img{
    height: 100px;
    width: 100px;
    padding: 10px;
}
.galiery li:hover {
    opacity: 0.5;
}
.otherwrap {
    float: right;
    height: 200px;
    width: 800px;
}
.banner {
    float: left;
    height: 180px;
    width: 395px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner img{
    float: left;
    height: 180px;
    width: 395px;
}
.bntext {
    float: left;
    height: 40px;
    width: 300px;
    position: absolute;
    text-align: center;
    color: #fff;
    line-height: 40px;
    background-color: rgba(40, 40, 40, 0.3);
    top: 80px;
    left: 450px;
}
.banner img:hover {
    opacity: 0.5;
}
.shortcut img:hover {
    opacity: 0.5;
}
.shortcut {
    float: right;
    height: 180px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.shortcut img {
    float: left;
    height: 180px;
    width: 400px;
}
.sctext {
    float: right;
    height: 40px;
    width: 300px;
    position: absolute;
    text-align: center;
    color: #fff;
    line-height: 40px;
    background-color: rgba(40, 40, 40, 0.3);
    top: 80px;
    left: 850px;
}

/* 공지사항 팝업 창 */
#modal {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}
#modal.active {
    display: block;
}
.closeBtn {
    height: 30px;
    width: 80px;
    border: 3px;
}
.modal_up {
    width: 300px;
    height: 300px;
    position: fixed;
    left: 40%;
    top: 30%;
    background-color: white;
    text-align: center;
}
.modal_up h3 {
    padding-top: 30px; ;
}
.modal_up p {
    padding: 20px;
    font-size: 16px;
}

footer {
    height: 100px;
    width: 1200px;
    background-color: rgb(68, 44, 17);
}
.btlogo {
    float: left;
    height: 100px;
    width: 230px;
    background-color: rgb(75, 49, 19);
}
.btlogo img {
    float: left;
    height: 80px;
    width: 200px;
    margin-top: 10px;
    margin-left: 15px;
}
.copy {
    float: left;
    height: 100px;
    width: 740px;
    color: white;
    text-align: center;
    line-height: 100px;
}
.sns {
    float: right;
    height: 100px;
    width: 230px;
}
.sns ul {
    float: left;
    margin-top: 20px;
    margin-right: 10px;
}
.sns li {
    display: inline-block;
}
.sns img {
    height: 45px;
    width: 45px;
    padding: 5px ;
}
.sns img:hover {
    opacity: 0.5;
}